.main-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items:  center;
    justify-content: center;

}

.main-card{
 
    display: flex;
    flex-direction: column !important;
    width: 50rem;
    align-items: center;
    
    height: 30rem;
    margin-top: 10px;
    padding: 10px;
    /* background-color:rgb(151, 21, 212) !important ; */

}
.name-input{
    width: 15rem !important;
    margin-top: 20px !important;
}
.submit-btn{
    background-color: blue !important;
    text-decoration: none;
    color: white !important;
    padding: 5px 35px 5px 35px !important;
    text-transform: none !important;
    margin-top: 15px !important;
}
.span-error {
    color: red;
}